.projects-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Memusatkan kontainer kartu di tengah */
  padding: 20px;
}

h2 {
  text-align: center; /* Mengatur teks ke tengah */
  text-transform: uppercase; /* Mengubah teks menjadi huruf kapital semua */
  margin-bottom: 20px; /* Memberikan jarak bawah dari elemen berikutnya */
}

.card-container-wrapper {
  display: flex;
  justify-content: center; /* Memusatkan kartu secara horizontal */
  flex-wrap: wrap; /* Membuat kartu membungkus ke baris baru jika ruang tidak cukup */
  gap: 50px; /* Jarak antar kartu */
}

.card-container {
  width: 320px;
  display: flex;
  flex-direction: column; /* Agar isi dalam kartu disusun vertikal */
  justify-content: space-between; /* Tombol di bawah dan isi tersebar */
  min-height: 500px; /* Tinggi minimum yang sama untuk semua kartu */
  height: auto; /* Tinggi otomatis */
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  border-radius: 10px;
}

.card-container:hover {
  transform: translateY(-10px); /* Efek hover mengangkat kartu */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); /* Shadow lebih besar saat hover */
}

.card-container img {
  width: 100%;
  height: 200px; /* Tentukan tinggi tetap */
  object-fit: cover; /* Memastikan gambar di-crop agar sesuai dengan dimensi yang diberikan */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: transform 0.3s ease;
}

.card-container img:hover {
  transform: scale(1.1); /* Efek zoom pada gambar saat hover */
}

.card-content {
  padding: 1rem;
  display: flex;
  flex-direction: column; /* Mengatur konten agar vertikal */
  justify-content: space-between; /* Menyebarkan isi dan tombol */
  flex-grow: 1; /* Membuat konten mengisi ruang kosong */
}

.card-content h3 {
  margin-bottom: 15px; /* Memberikan jarak antara judul dan deskripsi di bawahnya */
}

h3,
p {
  margin: 0;
  padding: 0;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: auto; /* Memastikan tombol berada di bawah */
}

.btn button {
  padding: 0;
  background-color: transparent; /* Transparan untuk menghilangkan tampilan tombol */
  border: none; /* Menghilangkan border */
  margin-bottom: 0; /* Menghilangkan margin bawah */
  cursor: pointer; /* Tetap menunjukkan kursor pointer */
}

.btn button:hover {
  background: none; /* Menghapus efek hover */
  transform: none; /* Tidak ada transformasi */
}

a {
  text-transform: uppercase;
  color: plum;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: plum; /* Tetap warna plum saat hover */
  text-decoration: underline; /* Memberikan underline saat hover */
}
